.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-page {
  position: relative;
  height: 100vh; /* Ensures the button stays at the bottom of the viewport */
}

.search-btn {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  padding: 10px 20px; /* Add padding for the button */
  background-color: #007bff; /* Customize button styles as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: zoomInOut 0.5s; /* Adjust the duration as needed */
  animation-fill-mode: forwards;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Increase to your desired zoom level */
  }
  100% {
    transform: scale(1);
  }
}
.home-page:hover .search-widget {
  display: block; /* Display the widget when hovering over the home page */
}
