.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-page {
  position: relative;
  height: 100vh; /* Ensures the button stays at the bottom of the viewport */
}

.search-btn {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  padding: 10px 20px; /* Add padding for the button */
  background-color: #007bff; /* Customize button styles as needed */
  color: black;
border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  animation: zoomInOut 0.5s; /* Adjust the duration as needed */
  animation-fill-mode: forwards;
  animation: zoom-in-zoom-out 2s ease infinite;
}
.search-btn::before{
  animation: animatedgradient 3s ease infinite alternate;
  left: -4px;
  position: absolute;
  top: -4px;
  width: calc(100% + 8px);
  background: linear-gradient(
    60deg,
    #ffb46a,
    #ff9984,
    #ff84a7,
    #f09eff,
    #97baff,
    #7bedff,
    #93fff1,
    #a1ffb8
  );
  background-size: 300% 300%;
  border-radius: 12px;
  content: "";
  border: 1px solid black;
  z-index: -1;
  height: calc(100% + 8px);
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
.home-page:hover .search-widget {
  display: block; /* Display the widget when hovering over the home page */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.loader-spinner {
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}